.options-container{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}


.answer-btn{
    margin: 15px 0px;
}
input {
    margin-right: 15px;
}

.short-answer{
    font-size: 25px;
}

.long-answer{
    font-size: 20px;
    padding-left: 10px;
}
.checkbox{
    border-radius: 50% !important;
    
}
